.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.roundedInput .MuiOutlinedInput-root{
  border-radius: 50px;
}

.MuiInput-underline {
  border-bottom: None;
}

.MuiInput-underline:before {
  border-bottom: None !important;
}

.MuiInput-underline:after {
  border-bottom: None !important;
}

.MuiTab-wrapper {
  font-size: 1.3em;
}

.MuiTabs-root {
  background: #c6ebc942;
}

.MuiStepLabel-label {
  font-size:larger !important;
  font-weight: 900 !important;
}

.MuiTouchRipple-root {
  display: none
}